@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Azeret Mono", monospace;
}

/* Shared styles */
main {
  width: 1140px;
  margin: 0 auto;
}
/* Nav section style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-family: Azeret Mono;
  margin-left: 150px;
  margin-top: 50px;
}
.nav-title p {
  font-size: 28px;
  font-weight: 800;
}
.nav-btn {
  margin-top: 38px;
  margin-right: 146px;
}
.nav-btn button {
  font-family: Azeret Mono;
  padding: 17px 24px 17px 24px;
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}
.nav-btn button:hover {
  background-color: #f3efef;
}

/* Nav section style end */

/* Banner style start */

.banner {
  height: 652px;
  margin-top: 80px;
  background-image: url("../assets/Hero-bg.png");
}
.banner-container {
  text-align: center;
}
.banner-container img {
  margin-top: 26px;
  margin-bottom: 32px;
}
.banner-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-description {
  color: rgb(13, 19, 33);
  line-height: 26px;
  margin-bottom: 32px;
  opacity: 0.7;
}
.banner-btn {
  padding: 21px 24px 21px 24px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}
.banner-btn:hover {
  background: #ffffff;
  color: black;
  border: 2px solid black;
}
/* Banner style end */

/* development style start */

.development {
  margin-top: 74px;
  background: #fafafb;
  padding: 80px 97px;
}
.development-header {
  text-align: center;
}

.development-header h2 {
  font-size: 32px;
  font-weight: 800;
}
.development-header p {
  margin-top: 24px;
  opacity: 0.7;
  line-height: 26px;
}
.coding {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 96px;
}
.coding-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}
.coding-description {
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 32px;
}
.coding-btn {
  padding: 12px 20px 12px 20px;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.coding-btn:hover {
  background-color: #f3efef;
}
.coding-img {
  width: 259.56px;
  height: 217.01px;
}
#second-coding-content {
  margin-left: 32px;
}
#coding-second-div {
  margin-top: 148px;
}
#coding-third-div {
  margin-top: 148px;
}

/* development style end */

/* Inspiration section start */
.inspiration {
  margin-top: 88px;
}
.inspiration-content {
  text-align: center;
}
.inspiration-content h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.inspiration-content p {
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 80px;
}
.inspiration-video {
  text-align: center;
  padding: 32px 0px 32px 0px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.inspiration-video iframe {
  border-radius: 16px;
}
/* Inspiration section end */

/*Current target section styles start  */
.current-target {
  margin-top: 149px;
}
.current-target-header {
  text-align: center;
}
.current-target-header h2 {
  margin-bottom: 24px;
}
.current-target-header p {
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 48px;
}
.current-target-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}
.current-target-items {
  width: 364px;
  height: 299px;
  padding: 40px;
}
.current-target-items img {
  width: 56px;
  height: 56px;
}
.current-target-items h3 {
  font-weight: 800;
  margin-top: 24px;
  margin-bottom: 8px;
}
.current-target-items p {
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}
.current-target-items a {
  font-weight: 700;
  color: rgb(13, 19, 33);
}
#taget-box-one {
  background-color: #fff6f4;
}
#taget-box-two {
  background-color: #f2f6fe;
}
#taget-box-three {
  background-color: #fffdf2;
}
/* Current target section styles end */

/* Next target section styles start */
.next-target {
  margin-top: 111px;
}
.next-target-header {
  text-align: center;
}
.next-target-header h2 {
  margin: 24px;
}
.next-target-header p {
  opacity: 0.7;
  line-height: 26px;
  margin-bottom: 48px;
}
.next-target-items {
  display: flex;
  align-items: center;
  height: 219px;
  padding: 40px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
}
.next-target-img {
  width: 94.78px;
  height: 84.41px;
  margin-right: 40px;
}
.node-img {
  margin-right: 88px;
}
#node-div,
#mongo-div {
  margin-top: 24px;
}
.next-target-content h3 {
  margin-bottom: 8px;
  font-size: 24px;
}
.next-target-content p {
  opacity: 0.7;
  line-height: 26px;
  margin-bottom: 22px;
}
.next-target-content a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

/* Next target section styles end */

/* Support styles start */

.support {
  background-image: url("../assets/handshake.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  height: 314px;
  margin-top: 47px;
}
.support-container {
  text-align: center;
}
.support-header h2 {
  color: white;
  padding-top: 68px;
  margin-bottom: 16px;
}
.support-header p {
  color: white;
  opacity: 0.7;
  margin-bottom: 36px;
}
.support-input input {
  background: rgb(255, 255, 255);
  border: none;
  width: 548px;
  padding: 19px 20px 19px 20px;
  border-radius: 8px;
  outline: none;
}
.support-input button {
  font-size: 18px;
  font-weight: 600;
  padding: 16px 20px 18px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.support-input button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
/* Support styles end */

/* Footer styles start */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 79px;
}
.fotter-content {
  margin-left: 150px;
}
.fotter-content p {
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}
.footer-images {
  margin-right: 150px;
}
.footer-images a {
  text-decoration: none;
}
.footer-images img {
  width: 36px;
  height: 36px;
  gap: 80px;
}
.fb-icon,
.git-icon {
  margin-right: 24px;
}
/* Footer styles end */
